* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgba(178,231,232,1) 0%, rgba(48,77,99,1) 100%);
    font-family: 'Poppins', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

div {
    position: block;
    padding: 80px;;
    top: 50%;
    left: 50%;
    background-color: #304d63;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 2px 5px #A9A9A9;
  }

#text-area {
    font-size: 24px;
    color: aliceblue;
}

#input-area input{
    font-size: 15px;
    width: 200px;
    height: 25px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 7px;
    font-family: 'Tilt Neon', cursive;
}

button {
    color: white;
    font-size: 15px;
    width: 210px;
    border-radius: 7px;
    height: 25px;
    border: 1px solid #406886;
    outline: none;
    cursor: pointer;
    background-color: #304d63;
    font-family: 'Tilt Neon', cursive;
}

#submit-button:hover {
    background-color: #39688b; 
    transition: 0.5s;
    opacity: 0.7;
}